# Import libraries

In [1]:
import pandas as pd
import numpy as np

# Import the raw data

In [8]:
data = open("train_data.txt", 'r').readlines()

# Creating the dataframe

In [9]:
data = [d.replace('\n','') for d in data]

registro = data[0::8]
id = data[1::8]
dias = data[2::8]
genero = data[3::8]
edad = data[4::8]
kids = data[5::8]
pais = data[6::8]
acomodacion = data[7::8]

In [10]:
table = pd.DataFrame(list(zip(id,dias,genero,edad,kids,pais,acomodacion)),index=None,
columns=['Id','Dias','Genero','Edad','Ni√±os','Pais','Acomodacion'])

# Fixing the NaN values

In [12]:
table = table.replace(['<NA>'],np.nan)

# Export the data

In [14]:
table.to_csv('train.csv')